[user]
	email = danbond@protonmail.com
	name = Dan Bond
	signingkey = 82E7BCF2EAB74CF0
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[remote "origin"]
	prune = true
[pull]
	rebase = false
[commit]
	gpgSign = true
[color]
    ui = auto
[color "status"]
    branch = white
