[user]
	email = dan@loshz.com
	name = Dan Bond
	signingkey = ~/.ssh/id_ed25519_sk.pub
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[fetch]
	prune = true
[remote "origin"]
	prune = true
[pull]
	rebase = false
[color]
    ui = auto
[color "status"]
    branch = white
[init]
	defaultBranch = main
[alias]
	csm = commit -asS -m
[gpg]
	format = ssh
