* {
	color: #9F9FA1;
    background-color: #121212;
}

window {
	font: "Hack 11";
	width: 25%;
	border: 1px;
	border-color: #9F9FA1;
	padding: 5px;
}

inputbar {
	margin: 5px 5px 10px;
}

entry {
	padding: 0 0 0 5px;
}

listview {
	lines: 6;
	scrollbar: false;
}

element {
	padding: 5px;
}

element selected, element-text selected {
    background-color: #00FF00;
	color: #121212;
}
